@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

h1 {

    color: transparent !important;
    font-weight: bolder;
    font-size: 3em;
    -webkit-text-stroke: 0.1px rgb(22, 196, 37);
}

main {

    height: 100vh;
    z-index: 2;
}

#titulo {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#divform {
    display: flex;
    justify-content: center;
    margin: 35px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label {
    display: block;
    margin: 0 auto;
    color: white;
    position: relative;
}

label:has(+ input:focus){

    font-weight: bold;
    
}

form input {
    color: white;
    width: 300px;
    background-color: transparent !important;
    border: none;
    outline: none;
    border-bottom: 3px solid #0ec60e;
    border-radius: 4px;
    margin-bottom: 35px;
}

#divb button {
    background: #0ec60e;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#divb button:hover {
    background: #089c08;
}

#radio input {
    margin: 20px 20px;
    scale: 2;
}

#radio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#divalor {
    display: flex;
    justify-content: center;
    color: white;
}

.tudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(60, 20, 104);
}

.grafico {
    width: 80%;
    height: 50vh;
    background-color: rgb(60, 20, 104);
    display: grid;
    align-items: end;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 32px;
    padding: 8px;
}

.coluna {
    background-color: #089c08;
    color: white;
    text-align: center;

}

.coluna p {
    position: relative;
}

.cheio {
    height: 100%;
    color: white;
    text-align: center;
    background-color: #089c08;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 6px;
    padding-right: 6px;
}

#r1:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: 'S';
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    border: 2px solid white;
}

#r1:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #0ec60e;
    content: 'S';
    display: flex;
    visibility: visible;
    border: 2px solid white;
    color: white;
}

#r2:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: 'C';
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    border: 2px solid white;
}

#r2:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #0ec60e;
    content: 'C';
    display: flex;
    visibility: visible;
    border: 2px solid white;
    color: white;
}