@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    font-family: 'Dancing Script', cursive;
}
header{
    color: white;
    background-color: #d85904;
    height: 8vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.option{
    display: flex;
    height: calc(100vh - 8vh);
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
}
.option button{
    cursor: pointer;
    outline: none;
    border: none;
    padding: 15px;
    width: 20vh;
    background-color: rgb(238, 235, 235);
    border-radius: 10px;
    box-shadow:  5px 5px 3px #2727278f;
    margin:20px;
    position: relative;
    transition: 0.5s ease-in-out;
    z-index: 2;
}
button::before{
    content: "";
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    background-color: #db600e;
    position: absolute;
    transition: .5s ease-in-out;
    z-index: -1;
}
button:hover{
    color: white;
    transition: .5s ease-in-out;
}
button:hover::before{
    color: white;
    content: "";
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #db600e;
    position: absolute;
    transition: .5s ease-in-out;
    z-index: -1;
}
.divcontent{
    background-color: #db600e;
    height: fit-content;
    width: fit-content;
    padding: 50px;
    border-radius: 47px;
    background: #db600e;
    box-shadow:  15px 15px 20px #181717a8;
    width: 60%;
}
#divform{
    height: calc(100vh - 8vh);
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
form div{
    display: flex;
    width: 70%;
    flex-direction: column;
}
form label{
    color: white;
    margin-top: 10px;
}
form input{
    background-color: transparent;
    outline: none;
    background-color: rgb(255, 255, 255);
    padding: 7px;
    border-radius: 10px;
    border: none;
    box-shadow:  5px 5px 0px #33323267
}
.divb{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.divb button{
    position: relative;
    width: 40%;
    margin: 10px 20px;
    padding: 5px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    box-shadow:  5px 5px 3px #2727278f;
    z-index: 2;
    transition: 0.5s ease-in-out;
}
.divb button:before{
    content: "";
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background-color: #10cb3f;
    position: absolute;
    transition: 0.5s ease-in-out;
    z-index: -1;
}
.divb button:hover{
    color: white;
    transition: 0.3s ease-in-out;
}
.divb button:hover::before{
    color: white;
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    width: 102%;
    height: 102%;
    background-color: #10cb3f;
    position: absolute;
    transition: 0.5s ease-in-out;
    z-index: -1;
}
.divresult{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}